* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #151515;
}

/* Nav settings */
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #040404;
  padding: 15px 40px;
}

.left-nav {
  width: 100%;
  height: 100%
}
.left-nav img {
  height: 100%;
}
.left-nav img:hover {
  cursor: pointer;
}

.right-nav {
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 10px;
  overflow: hidden;
}

.right-nav button {
  padding: 0 10px;
  border: none;
  background-color: #151515;
}
.right-nav button:focus {
  outline: none;
}
.right-nav button:hover {
  cursor: pointer;
}

.right-nav button i {
  font-size: 15px;
  color: grey;
}
.right-nav button:hover i {
  color: lightgrey;
}

.right-nav input{
  width: 230px;
  padding: 10px;
  border: none;
  font-size: 15px;
  color: lightgrey;
  background-color: #151515;
}
.right-nav input:focus {
  outline: none;

}
/* /Nav settings */

/* Main settings */
main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.film {
  position: relative;
  width: 222px;
  height: 332px;
  background-color: #040404;
  border: 1px solid grey;
  margin: 25px 20px;
}

.film-cover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s linear, visibility 0.4s linear;
}

.film:hover .film-cover {
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  pointer-events: auto;
}

/* scrollbar settings */
.film-info::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.film-info::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.film-info::-webkit-scrollbar-thumb:hover {
  background: #878787;
}
.film-info::-webkit-scrollbar-track {
  background: #040404;
  border: 0px none #ffffff;
  border-radius: 55px;
}
/* /scrollbar settings */

.placeholder-title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  color: lightgrey;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.film-info {
  width: 100%;
  height: 100%;
  padding: 30px 10px;
  color: darkgrey;
  overflow-y: auto;
}

.film-info > div {
  margin: 5px 0;
}

.key {
  font-weight: bold;
  color: lightgrey;
}

.stars i {
  color: #E7970B;
}

.language .value {
  text-transform: uppercase;
}
.language .value img {
  width: 20px;
  margin-left: 5px;
}

/* /Main settings */
