<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BOOLFLIX</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <div id="root">
        <!-- Nav section -->
        <nav id="nav">
          <div class="left-nav">
            <img src="img/logo.png" alt="Boolflix logo">
          </div>
          <div class="right-nav">
            <button type="button" name="button" @click="goOnSearch"><i class="fas fa-search"></i></button>
            <input type="text" value="" placeholder="Cerca un film" v-model="searchNew" @keydown.enter="goOnSearch">
          </div>
        </nav>
        <!-- /Nav section -->

        <!-- Main section -->
        <main>
          <div class="film" v-for = "(film, index) in searchedFilm">
            <!-- Film Cover -->
            <div class="film-cover">
              <img v-if="film.poster_path != null" :src="'https://image.tmdb.org/t/p/w220_and_h330_face' + film.poster_path" alt="">
              <img v-else src="img/placeholder.png" alt="">
              <span v-if="film.poster_path == null" class="placeholder-title">{{film.title}}{{film.name}}</span>
            </div>
            <!-- /Film Cover -->
            <!-- Film Info -->
            <div class="film-info">
              <div class="title">
                <span class="key">Titolo:</span>
                <span class="value">{{film.title}}{{film.name}}</span>
              </div>
              <div class="original-title" v-if="(film.title != film.original_title) || (film.name != film.original_name)">
                <span class="key">Titolo originale:</span>
                <span class="value">{{film.original_title}}{{film.original_name}}</span>
              </div>
              <div class="language">
                <span class="key">Lingua: </span>
                <span class="value" v-if ="flags.includes(film.original_language)">
                  <img :src="'img/'+ film.original_language + '.png'" :alt="film.original_language">
                </span>
                <span class="value" v-else>{{film.original_language}}</span>
              </div>
              <div class="stars">
                <span class="key">Voto:</span>
                <span class="value">
                  <i class="fas fa-star" v-for = "star in getStars(film.vote_average)"></i>
                  <i class="far fa-star" v-for = "star in (5 - getStars(film.vote_average))"></i>
                </span>
              </div>
              <div class="actors">
                <span class="key">Attori:</span>
                <span class="value"></span>
              </div>
              <div class="genre">
                <span class="key">Genere:</span>
                <span class="value" v-for="genre in findGenre(index)">{{genre}}, </span>
              </div>
              <div class="overview">
                <span class="key">Overview:</span>
                <span class="value">{{film.overview}}</span>
              </div>
            </div>
            <!-- /Film Info -->
          </div>
        </main>
        <!-- /Main section -->
      </div>
    </div>
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
